
{{!-- Create customer table --}}
<h2>Products</h1>
<img src="/img/im.jpeg" alt="Hank with propane">
<br>

<table id="products-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.idProduct}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.wholesalePrice}}</td>
            <td>{{this.retailPrice}}</td>
           
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- INSERT --}}

{{!-- Form to add a record to the table  --}}
<h2>Adding a New Product </h2>
<p>To add a new product, please enter its information below and click 'Submit'!</p>
<form id="add-product-form-ajax">
    <label for="input-productName">Product Name: </label>
    <input type="text" name="input-productName" id="input-productName">
    
    <label for="input-wholesalePrice">Wholesale Price: </label>
    <input type="number" name="input-lastName" id="input-lastName">

    <label for="input-retailPrice">Retail Price: </label>
    <input type="number" name="input-retailPrice" id="input-retailPrice">


    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="js/add_product.js"></script>   {{!--CHANGED FROM MONIKA'S APP--}}


{{!-- UPDATE  --}}
<h2>Updating A Product Form</h2>
<p>To update a product, select its name from the drop-down menu  </p>
<form id="update-product-form-ajax">

 

    <label for="input-productName">Product Name: </label>
    <select name="input-productName" id="input-productName-update">
        <option>Select the Product</option>
        {{#each products}}
        <option value="{{this.idProduct}}">{{this.productName}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="./js/update_product.js"></script>