
{{!-- Create customer table --}}
<h2>Sales Invoices</h1>
<table id="products-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.idSalesInvoice}}</td>
            <td>{{this.orderQuantity}}</td>
            <td>{{this.productPrice}}</td>
            <td>{{this.salesDate}}</td>
           
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- INSERT --}}

{{!-- Form to add a record to the table  --}}
<h2>Adding a Sale </h2>
<p>To add a new sales invoice, please enter the information below and click 'Submit'!</p>
<form id="add-salesInvoice-form-ajax">
    <label for="input-orderQuantity">Order Quantity: </label>
    <input type="number" name="input-orderQuantity" id="input-orderQuantity">
    
    <label for="input-productPrice">Product Price: </label>
    <input type="decimal" name="input-productPrice" id="input-productPrice">

    <label for="input-salesDate">Sales Date: </label>
    <input type="date" name="input-salesDate" id="input-salesDate">


    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="js/add_salesInvoice.js"></script>   {{!--CHANGED FROM MONIKA'S APP--}}


